# Configuration file for cargo-deny

[graph]
targets = [
    { triple = "aarch64-apple-darwin" },
    { triple = "aarch64-unknown-linux-gnu" },
    { triple = "x86_64-apple-darwin" },
    { triple = "x86_64-pc-windows-gnu" },
    { triple = "x86_64-unknown-freebsd" },
    { triple = "x86_64-unknown-linux-gnu" },
]
all-features = true
exclude-dev = true

[licenses]
version = 2
allow = [
    "Apache-2.0",
    "MIT",
]
exceptions = [
    { name = "arrayref", allow = ["BSD-2-Clause"] },
    { name = "bc-components", allow = ["BSD-2-Clause-Patent"] },
    { name = "bc-crypto", allow = ["BSD-2-Clause-Patent"] },
    { name = "bc-envelope", allow = ["BSD-2-Clause-Patent"] },
    { name = "bc-rand", allow = ["BSD-2-Clause-Patent"] },
    { name = "bc-shamir", allow = ["BSD-2-Clause-Patent"] },
    { name = "bc-tags", allow = ["BSD-2-Clause-Patent"] },
    { name = "bc-ur", allow = ["BSD-2-Clause-Patent"] },
    { name = "bindgen", allow = ["BSD-3-Clause"] },
    { name = "bitcoin-private", allow = ["CC0-1.0"] },
    { name = "bitcoin_hashes", allow = ["CC0-1.0"] },
    { name = "bounded-vec", allow = ["CC0-1.0"] },
    { name = "const_format", allow = ["Zlib"] },
    { name = "const_format_proc_macros", allow = ["Zlib"] },
    { name = "curve25519-dalek", allow = ["BSD-3-Clause"] },
    { name = "dcbor", allow = ["BSD-2-Clause-Patent"] },
    { name = "doctest-file", allow = ["0BSD"] },
    { name = "ed25519-dalek", allow = ["BSD-3-Clause"] },
    { name = "embed-licensing", allow = ["MPL-2.0"] },
    { name = "embed-licensing-core", allow = ["MPL-2.0"] },
    { name = "embed-licensing-macros", allow = ["MPL-2.0"] },
    { name = "foldhash", allow = ["Zlib"] },
    { name = "human_bytes", allow = ["BSD-2-Clause"] },
    { name = "icu_collections", allow = ["Unicode-3.0"] },
    { name = "icu_locid", allow = ["Unicode-3.0"] },
    { name = "icu_locid_transform", allow = ["Unicode-3.0"] },
    { name = "icu_locid_transform_data", allow = ["Unicode-3.0"] },
    { name = "icu_normalizer", allow = ["Unicode-3.0"] },
    { name = "icu_normalizer_data", allow = ["Unicode-3.0"] },
    { name = "icu_properties", allow = ["Unicode-3.0"] },
    { name = "icu_properties_data", allow = ["Unicode-3.0"] },
    { name = "icu_provider", allow = ["Unicode-3.0"] },
    { name = "icu_provider_macros", allow = ["Unicode-3.0"] },
    { name = "known-values", allow = ["BSD-2-Clause-Patent"] },
    { name = "libloading", allow = ["ISC"] },
    { name = "litemap", allow = ["Unicode-3.0"] },
    { name = "matchit", allow = ["BSD-3-Clause"] },
    { name = "minicbor", allow = ["BlueOak-1.0.0"] },
    { name = "option-ext", allow = ["MPL-2.0"] },
    { name = "recvmsg", allow = ["0BSD"] },
    { name = "ring", allow = ["ISC"] },
    { name = "rustls-webpki", allow = ["ISC"] },
    { name = "secp256k1", allow = ["CC0-1.0"] },
    { name = "secp256k1-sys", allow = ["CC0-1.0"] },
    { name = "sskr", allow = ["BSD-2-Clause-Patent"] },
    { name = "subtle", allow = ["BSD-3-Clause"] },
    { name = "tinystr", allow = ["Unicode-3.0"] },
    { name = "unicode-ident", allow = ["Unicode-3.0"] },
    { name = "untrusted", allow = ["ISC"] },
    { name = "webpki-roots", allow = ["CDLA-Permissive-2.0", "MPL-2.0"] },
    { name = "writeable", allow = ["Unicode-3.0"] },
    { name = "x25519-dalek", allow = ["BSD-3-Clause"] },
    { name = "yoke", allow = ["Unicode-3.0"] },
    { name = "yoke-derive", allow = ["Unicode-3.0"] },
    { name = "zerofrom", allow = ["Unicode-3.0"] },
    { name = "zerofrom-derive", allow = ["Unicode-3.0"] },
    { name = "zerovec", allow = ["Unicode-3.0"] },
    { name = "zerovec-derive", allow = ["Unicode-3.0"] },
]
