name: CI

on:
  pull_request:
  push:
    branches: main
  merge_group:

permissions: {}

jobs:
  test-msrv-required:
    name: Test ${{ matrix.state }} on ${{ matrix.target }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        target:
          - Linux
        state:
          - default

        include:
          - target: Linux
            os: ubuntu-latest

    env:
      RUSTFLAGS: ${{ matrix.rustflags }}
      RUSTDOCFLAGS: ${{ matrix.rustflags }}

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - name: Run tests
        run: >
          cargo test
          --workspace
          --all-features
      - name: Verify working directory is clean
        run: git diff --exit-code

  test-msrv:
    name: Test ${{ matrix.state }} on ${{ matrix.target }}
    runs-on: ${{ matrix.os }}
    continue-on-error: true
    strategy:
      matrix:
        target:
          - macOS
          - Windows
        state:
          - default
          - NU7

        include:
          - target: macOS
            os: macOS-latest
          - target: Windows
            os: windows-latest

          - target: Linux
            state: NU7
            os: ubuntu-latest
            rustflags: '--cfg zcash_unstable="nu7"'

          - target: Linux
            state: merchant_terminal
            os: ubuntu-latest
            rustflags: '--cfg zallet_build="merchant_terminal"'

        exclude:
          - target: macOS
            state: NU7

    env:
      RUSTFLAGS: ${{ matrix.rustflags }}
      RUSTDOCFLAGS: ${{ matrix.rustflags }}

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - name: Run tests
        run: >
          cargo test
          --workspace
          --all-features
      - name: Verify working directory is clean
        run: git diff --exit-code

  build-latest:
    name: Latest build on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - uses: dtolnay/rust-toolchain@stable
        id: toolchain
      - run: rustup override set ${RUST_TOOLCHAIN}
        shell: bash
        env:
          RUST_TOOLCHAIN: ${{steps.toolchain.outputs.name}}
      - name: Remove lockfile to build with latest dependencies
        run: rm Cargo.lock
      - name: Build crates
        run: >
          cargo build
          --workspace
          --all-targets
          --all-features
      - name: Verify working directory is clean (excluding lockfile)
        run: git diff --exit-code ':!Cargo.lock'

  trigger-integration:
    name: Trigger integration tests
    runs-on: ubuntu-latest
    steps:
      - name: Generate app token
        id: app-token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        with:
          app-id: ${{ secrets.ZALLET_APP_ID }}
          private-key: ${{ secrets.ZALLET_APP_PRIVATE_KEY }}
          owner: zcash
          repositories: integration-tests
      - name: Trigger integration tests
        env:
          GH_TOKEN: ${{ steps.app-token.outputs.token }}
        run: >
          gh api repos/zcash/integration-tests/dispatches
          --field event_type="zallet-interop-request"
          --field client_payload[sha]="$GITHUB_SHA"

  required-checks:
    name: Required status checks have passed
    needs:
      - test-msrv-required
      - build-latest
    if: ${{ always() }}
    runs-on: ubuntu-latest
    steps:
      - name: Determine whether all required-pass steps succeeded
        run: |
          echo '${{ toJSON(needs) }}' | jq -e '[ .[] | .result == "success" ] | all'
